[Unit]
Description=Immich Photo Manager
After=network-online.target immich-db.service immich-redis.service
Requires=immich-db.service immich-redis.service

[Container]
ContainerName=immich
Pod=immich.pod
AutoUpdate=registry
Image=ghcr.io/immich-app/immich-server:release
Environment=DB_HOSTNAME=immich-db DB_USERNAME=immich DB_PASSWORD=immich_pass DB_DATABASE_NAME=immich
Environment=REDIS_HOSTNAME=immich-redis
Environment=IMMICH_MACHINE_LEARNING_URL=http://immich-ml:3003
#Environment=IMMICH_TRANSCODE_HW_ACCEL=vaapi
Volume=immich-server-data:/data:Z
Volume=/var/lib/immich/media:/usr/src/app/upload:z
User=0:0
HealthCmd=curl -fs --connect-timeout 5 --max-time 10 -o /dev/null http://localhost:2283/favicon.ico
HealthInterval=10m
HealthRetries=3

[Install]
WantedBy=multi-user.target
