[Unit]
Description=Back up linkding database

[Service]
Type=oneshot
ExecStart=podman exec -it linkding python manage.py full_backup /etc/linkding/data/backup.zip
ExecStart=/bin/bash -c 'mv /var/mnt/bigdrive/linkding/backup.zip /var/mnt/bigdrive/backups/$(date +"%%Y-%%m-%%d_%%T")_linkding-backup.zip'
