[Unit]
Description=Backup linkding database

[Timer]
OnCalendar=*-*-* 04:00:00
Persistent=true
Unit=linkding-backup.service

[Install]
WantedBy=timers.target
